<h2 class="title">{{ site.title }}</h2>
<nav>
    <a href="{{ site.url }}{{ site.baseurl }}">Home</a> 
    <a href="{{ site.url }}{{ site.baseurl }}/whatsInside">What's Inside?</a>
    <a href="{{ site.url }}{{ site.baseurl }}/DumpingTheROM">Dumping the ROM</a>
    <a href="{{ site.url }}{{ site.baseurl }}/HowToDumpTheROM">How to dump the ROM?</a>
    <a href="{{ site.url }}{{ site.baseurl }}/ROM_dump_analysis">ROM dump analysis</a>
    <a href="{{ site.url }}{{ site.baseurl }}/Custom_ROM">Custom ROM</a>
    <a href="{{ site.url }}{{ site.baseurl }}/ROM_emulator">ROM Emulator</a>    
   
    {% for link in site.special_links %}
            <a href="{{ link[1] }}">[{{ link[0] }}]</a>
    {% endfor %}
</nav>